@media only screen and (min-width:768px){
    .w-lg-25{
        width:25%!important;
    }
    
}
@media only screen and (min-width:520px) and (max-width:767px){
    .w-md-50{
        width:50%!important;
    }
    
}
.login-form{
    min-width: 22rem;
    .form-control{
        border: none;
        border-bottom: 2px solid rgb(164, 162, 162);
        border-radius: 0;
        background-color: rgb(230, 227, 227);
        &:focus{
            border-bottom: 2px solid rgb(84, 50, 254) !important;
            box-shadow: none;
        }
    }
}